.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.header_title {
  padding-top: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: #a6432d;
}
.users_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .main_container {
    padding: 2rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
  .header_title {
    font-size: 2.5rem;
  }
  .users_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

